<div class="cart">
    <div class="cart_item">
        <img class="cart_item_img" src="" alt="">
        <div class="cart_item_text">
            <div class="cart_item_text_title">
                <h2></h2>
                <h1></h1>
            </div>
            <p class="cart_item_text_description"></p>
            <p class="cart_item_text_size"></p>
            <div>
                <div>
                    <button>-</button>
                    <input type="text" name="" id="">
                    <button>+</button>
                </div>
                <button class="cart_item_text_remove">Remove</button>
            </div>
        </div>
    </div>
    <div>
        <h1>Items subtotal</h1>
        <h1>$</h1>
    </div>
    <div>
        <h1>Delivery</h1>
        <h1>$5</h1>
    </div>
    <div>
        <h1>Total</h1>
        <h1>$</h1>
    </div>
    <button></button>
</div>