.header {
    padding: 28px 100px 28px 100px;
    width: 1920px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 180px;
    height: 24px;
    cursor: pointer;
}

.header_login {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.header_login div {
    font-size: 12px;
    font-weight: 500;
}


.authorized {
    display: flex;
    align-items: center;
    gap: 20px;
}

.authorized_cart {
    cursor: pointer;
}

.authorized_user {
    width: 64px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.cartBg {
    position: absolute;
    z-index: 1;
    top: 0px;
    right: 0px;
    width: 1920px;
    height: 1080px;
}

.cartleft {
    width: 100%;
    height: 1080px;
    background-color: var(--darkblue);
    opacity: 60%;
}

.cart {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    width: 540px;
    height: 1080px;
    background-color: white;
}

.cart_title {
    margin: 41px 40px 22px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart_title h1 {
    font-size: 20px;
    font-weight: 600;
}

.cart_title img {
    cursor: pointer;
}

