<div class="cont">
    <div class="header">
        <img routerLink="/" class="header_logo" src="/Logo.png" alt="Logo">
        <ng-container *ngIf="authorized; else showCart">
            <div class="header_login" *ngIf="authorized">
                <img src="/icons/user.png" alt="user_icon">
                <div>Log in</div>
            </div>
        </ng-container>
        <ng-template #showCart>
            <div class="authorized" >
                <img (click)="openCart()" class="authorized_cart" src="/icons/cart.png" alt="cart_icon">
                <div class="authorized_user">
                    <img src="/images/avatarSapmle.png" alt="">
                    <img src="/icons/arrowDown.png" alt="">
                </div>
            </div>
        </ng-template>
    </div>
</div>

<div *ngIf="isCartOpen" class="cartBg">
  <div (click)="closeCart()" class="cartleft"></div>
  <div class="cart">
    <div class="cart_title">
      <h1>Shopping cart ({{ cartItems }})</h1>
      <img (click)="closeCart()" src="/icons/x.png" alt="X">
    </div>

    <!-- Show app-cart if cartItems is not empty -->
    <app-cart 
      *ngIf="cartItems > 0"
      (cartItems)="updateCartItems($event)" 
      [cartData]="cartData" 
      nextStageRoute="/checkout" 
      nextStage="Go to checkout" 
      height="610px">
    </app-cart>

    <!-- Show emptyCart div if cartItems is empty -->
    <div *ngIf="cartItems == 0" class="emptyCart">
      <img src="/images/cartImg.png" alt="cartImage">
      <h1>Ooops!</h1>
      <p>You’ve got nothing in your cart just yet...</p>
      <button routerLink="/" (click)="closeCart()">Start shopping</button>
    </div>
  </div>
</div>
