<div class="cont">
    <div class="header">
        <img routerLink="/" class="header_logo" src="/Logo.png" alt="Logo">
        <ng-container *ngIf="authorized; else showCart">
            <div class="header_login" *ngIf="authorized">
                <img src="/icons/user.png" alt="user_icon">
                <div>Log in</div>
            </div>
        </ng-container>
        <ng-template #showCart>
            <div class="authorized" >
                <img (click)="openCart()" class="authorized_cart" src="/icons/cart.png" alt="cart_icon">
                <div class="authorized_user">
                    <img src="/images/avatarSapmle.png" alt="">
                    <img src="/icons/arrowDown.png" alt="">
                </div>
            </div>
        </ng-template>
    </div>
</div>

<div *ngIf="isCartOpen" class="cartBg">
    <div (click)="closeCart()" class="cartleft"></div>
    <div class="cart">
        <div class="cart_title">
            <h1>Shopping cart (2)</h1>
            <img (click)="closeCart()" src="/icons/x.png" alt="X">
        </div>
        <app-cart nextStageRoute="/checkout" nextStage="Go to checkout"></app-cart>
    </div>
</div>