<div class="cont">
    <app-header></app-header>
    <div class="products">
        <div class="products_header">
            <h1 class="products_header_title">Products</h1>
            <div class="products_header_categories">
                <p class="products_header_categories_showing">Showing 1–10 of 100 results</p>
                <div class="products_header_categories_line"></div>
                <div class="products_header_categories_dflex">
                    <img class="products_header_categories_filterImg" src="/icons/filter.png" alt="">
                    <p class="products_header_categories_text">Filter</p>
                </div>
                <div class="products_header_categories_dflex">
                    <p class="products_header_categories_text">Sort by</p>
                    <img class="products_header_categories_sortImg" src="/icons/arrowDown.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>