<div class="cont">
    <app-header></app-header>
    <div class="products">
        <div class="products_header">
            <h1 class="products_header_title">Products</h1>
            <div class="products_header_categories">
                <p class="products_header_categories_showing">Showing 1–10 of 100 results</p>
                <div class="products_header_categories_line"></div>
                <div (click)="toggleFilterModal()" class="products_header_categories_dflex">
                    <img class="products_header_categories_filterImg" src="/icons/filter.png" alt="">
                    <p class="products_header_categories_text">Filter</p>
                </div>
                <div *ngIf="filterModal" class="products_header_categories_filterModal">
                    <h1>Select price</h1>
                    <div class="products_header_categories_filterModal_inputs">
                        <input [(ngModel)]="filterPrice_from" type="number" placeholder="From">
                        <input [(ngModel)]="filterPrice_to" type="number" placeholder="to">
                    </div>
                    <p class="products_header_categories_filterModal_validation">{{filterValidation}}</p>
                    <button (click)="applyFilter()">Apply</button>
                </div>
                <div (click)="toggleSortModal()" class="products_header_categories_dflex">
                    <p class="products_header_categories_text">Sort by</p>
                    <img class="products_header_categories_sortImg" src="/icons/arrowDown.png" alt="">
                </div>
                <div *ngIf="sortModal" class="products_header_categories_sortModal">
                    <h1>Sort by</h1>
                    <p (click)="sort('created_at')">New products first</p>
                    <p (click)="sort('price')">Price, low to high</p>
                    <p (click)="sort('-price')">Price, high to low</p>
                </div>
            </div>
        </div>
        <div class="products_grid">
            <app-product-card *ngFor="let product of products?.data" [product]="product"></app-product-card>
        </div>
        <div class="products_pagination_cont">
            <div class="products_pagination">
                <div class="products_pagination_iconBg">
                    <img src="/icons/arrowLeft.png" alt="arrowLeeft">
                </div>
                <button>1</button>
                <button>2</button>
                <button>...</button>
                <button>9</button>
                <button>10</button>
                <div class="products_pagination_iconBg">
                    <img src="/icons/arrowRight.png" alt="arrowRight">
                </div>
            </div>
            <div>
                <p class="products_header_categories_showing">Showing 1–10 of 100 results</p>
            </div>
        </div>
    </div>
</div>